doctype html
html(lang="es")
  head
    link(rel="stylesheet" href="css/style.css")
    title= titulo
    
body
    nav 
    ul 
        block links
        li 
            a(href="/") Home
    block content